<div id="literki">
    <table cellspacing="0" cellpadding="0">
		<tr>
		    <td rowspan="8" class="zwin">
			<%= image_tag("search.png") %>
		    </td>
		    <td colspan="4" class="skocz">
			Skocz do literki
		    </td>
		</tr>
		<tr>
		    <td> <%= link_to "A", "#A" %> </td>
		    <td> <%= link_to "B", "#B" %> </td>
		    <td> <%= link_to "C", "#C" %> </td>
		    <td> <%= link_to "Ć", "#Ć" %> </td>
		</tr>
		<tr>
		    <td> <%= link_to "D", "#D" %> </td>
		    <td> <%= link_to "E", "#E" %> </td>
		    <td> <%= link_to "F", "#F" %> </td>
		    <td> <%= link_to "G", "#G" %> </td>
		</tr>
		<tr>
		    <td> <%= link_to "H", "#H" %> </td>
		    <td> <%= link_to "I", "#I" %> </td>
		    <td> <%= link_to "J", "#J" %> </td>
		    <td> <%= link_to "K", "#K" %> </td>
		</tr>
		<tr>
		    <td> <%= link_to "L", "#L" %> </td>
		    <td> <%= link_to "Ł", "#Ł" %> </td>
		    <td> <%= link_to "M", "#M" %> </td>
		    <td> <%= link_to "N", "#N" %> </td>
		</tr>
		<tr>
		    <td> <%= link_to "O", "#O" %> </td>
		    <td> <%= link_to "P", "#P" %> </td>
		    <td> <%= link_to "R", "#R" %> </td>
		    <td> <%= link_to "S", "#S" %> </td>
		</tr>
		<tr>
		    <td> <%= link_to "Ś", "#Ś" %> </td>
		    <td> <%= link_to "T", "#T" %> </td>
		    <td> <%= link_to "U", "#U" %> </td>
		    <td> <%= link_to "W", "#W" %> </td>
		</tr>
		<tr>
		    <td> <%= link_to "Z", "#Z" %> </td>
		    <td> <%= link_to "Ź", "#Ź" %> </td>
		    <td> <%= link_to "Ż", "#Ż" %> </td>
		    <td></td>
		</tr>
    </table>
</div>